<div class="signup-container">
  <h1 class="signup-title">Sign Up</h1>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">
    <div class="form-field">
      <label>First Name:</label>
      <input id="firstName" type="text" formControlName="firstName" pInputText class="input-field"
        placeholder="Enter your first name">
      <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched" class="error-message">
        First Name is required.
      </div>
    </div>

    <div class="form-field">
      <label>Last Name:</label>
      <input id="lastName" type="text" formControlName="lastName" pInputText class="input-field"
        placeholder="Enter your last name">
      <div *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched" class="error-message">
        Last Name is required.
      </div>
    </div>

    <div class="form-field">
      <label>Email:</label>
      <input id="email" type="email" formControlName="email" pInputText class="input-field"
        placeholder="Enter your email address">
      <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="error-message">
        Email is required and must be a valid email address.
      </div>
    </div>

    <div class="form-field">
      <label>Password:</label>
      <input id="password" type="password" formControlName="password" pInputText class="input-field"
        placeholder="Enter your password">
      <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="error-message">
        Password is required and must be at least 6 characters long.
      </div>
    </div>

    <button type="submit" pButton label="Sign Up" [disabled]="!signupForm.valid" class="signup-button"></button>

    <div class="login-link">
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
  </form>
</div>
