<div class="main">
    <div class="forgot-password-container">
        <h1 class="forgot-password-title">Forgot Password</h1>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password-form">
          <div class="form-field">
            <label for="email">Email:</label>
            <input id="email" type="email" formControlName="email" pInputText class="input-field" placeholder="Enter your email">
            <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="error-message">
              Please enter a valid email.
            </div>
          </div>
          <button type="submit" pButton label="Submit" [disabled]="!forgotPasswordForm.valid" class="submit-button"></button>
        </form>
      
        <div class="back-to-login-link">
          <a routerLink="/login">Back to Login</a>
        </div>
      </div>
      
</div>